.root{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}
.link{
    background-color: #379683;
    padding: 5px 10px;
    border-radius: 20px;
    color: #fff;
}